<table>
    <img src = {{'/uploads/%s/%s' % (post.author.username,post.author.avatar)}}>
    <td width="24px" height="27px">
        <a href="{{ url_for('user', username=post.author.username) }}">
    </td>
    <tr valign="top">
        {% set user_link %}
            <a href="{{ url_for('user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        {% endset %}
        {{ _('%(username)s said %(when)s:',
            username=user_link, when=moment(post.timestamp).fromNow()) }} {{ post.body }}
    </tr>
</table>